@charset "UTF-8";

.visualArea.bgWhats01 {
	color: #fff;
	background: url(https://kgitmacbucket.s3.ap-northeast-2.amazonaws.com/img/banner/promotion_banner.jpg) 50%
		50% no-repeat
}

#promotion_ing {
	display: block;
}

#promotion_end {
	display: block;
}